name: build

permissions:
  contents: read
  pull-requests: write

on: [push, pull_request, workflow_dispatch]

env:
  NAME: LPRun
  CONFIG: Release
  BIN_POSTFIX: .Bin
  RETENTION_DAYS: 1

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    # Set up

    - name: Setup .NET
      uses: actions/setup-dotnet@v5.1.0
      with:
        dotnet-version: |
          10.0.x

    # Check out

    - name: Check out ${{env.NAME}}
      uses: actions/checkout@v6.0.2

    # Build

    - name: Build ${{env.NAME}} ${{env.CONFIG}}
      run: dotnet build ${{env.NAME}}.sln --configuration ${{env.CONFIG}} -p:GITHUB_ACTIONS=true

    # Upload artifacts

    - name: Publish ${{env.NAME}} ${{env.CONFIG}}
      uses: actions/upload-artifact@v6.0.0
      with:
        name: ${{env.NAME}}${{env.BIN_POSTFIX}}
        path: bin/${{env.CONFIG}}/${{env.NAME}}.*.*nupkg
        retention-days: ${{env.RETENTION_DAYS}}
